{
  "serviceId" : {{{stringify service.id}}},
  "productId" : {{{stringify listing.id}}},
  "productNumber": {{{stringify listing.productNumber}}},
  "productNumber": {{{stringify listing.productNumber}}},
  "serviceName" : {{{stringify service.name}}},
  {{#if mv}}
  "serviceNameMv": "{{{findInArrayFromKey service.translations  key='language' value=mv match="name"}}}",
  {{/if}}
  "productCategoryId" : {{{stringify listing.category}}},
  "productPixelURL":"{{protocol}}://{{host}}/pixel?productId={{productId}}&distributorId={{organisationId}}&language={{prodoductLanguage}}&syndicationMethod=API",
  "internationalReadyFlag" : "",
  "minimumCapacity" : {{{stringify service.serviceCapacity.min}}},
  "maximumCapacity" : {{{stringify service.serviceCapacity.max}}},
  "childrenCateredForFlag" : "",
  "petsAllowedFlag" : "",
  "sequenceNumber": {{{stringify service.sequenceNumber}}},
  "disabledAccessFlag" : "",
  "pickupAvailableFlag" : "",
  "tourDuration" : "",
  "attributeIdTimeUnit" : "",
  "attributeIdTimeUnitDescription" : "",
  "serviceDescription" : {{{stringify service.description}}},
   {{#if mv}}
  "serviceDescriptionMv": {{{stringify (findInArrayFromKey service.translations  key='language' value=mv   match="description")}}},
  {{/if}}
  {{#if service.serviceBooking}}
    "serviceBooking":{{{stringify service.serviceBooking.bookingURL}}},
  {{/if}}
  {{#if service.serviceContacts}}
    "tourBooking":{{{stringify service.serviceContacts.urlEnquiries}}},
  {{/if}}  
  "journeyRoute":
  {{#ifValueForJourneyRoutes service.category "TOUR"}} 
    {{#multiValueOr ../service.startLocation.geoCodeLocation.longitude ../service.waypoints  ../service.endLocation.geoCodeLocation.longitude}}
      {{#join withStr="" pattern="\n" trim=true}}
        "{{#processGeoLocation type="LINESTRING"  withOutQuote="true"}}
          {{#join withStr="," pattern="\n" trim=true}}
            {{#if ../service.startLocation.geoCodeLocation.longitude}}
              {{#if ../../service.startLocation.geoCodeLocation.latitude}}
                {{../../../service.startLocation.geoCodeLocation.longitude}}|{{../../../service.startLocation.geoCodeLocation.latitude}}
              {{/if}}
            {{/if}}
            {{#each ../service.waypoints}}
              {{#if address.geoCodeLocation.longitude}}
                {{#if address.geoCodeLocation.latitude}}
                  {{address.geoCodeLocation.longitude}}|{{address.geoCodeLocation.latitude}}
                {{/if}}
              {{/if}}
            {{/each}}
            {{#if ../service.endLocation.geoCodeLocation.longitude}}
              {{#if ../../service.endLocation.geoCodeLocation.latitude}}
                {{../../../service.endLocation.geoCodeLocation.longitude}}|{{../../../service.endLocation.geoCodeLocation.latitude}}
              {{/if}}
            {{/if}}
          {{/join}}
        {{/processGeoLocation}}",
      {{/join}}
    {{else}}
    "",
    {{/multiValueOr}}
  {{else}} 
    {{{stringify ../service.route.standard}}},
  {{/ifValueForJourneyRoutes}}
  "attributes": [
    {{#each service.serviceLength}}
      {
       "attributeTypeId": "{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="serviceLength._def"  fetch="attributeTypeId"}}",
       "attributeTypeIdDescription": "{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="serviceLength._def" fetch="attributeTypeId"}}
      {{/resolveMasterData}}",
      {{#if ../mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="serviceLength._def" fetch="attributeTypeId"}}
        {{/resolveMasterData}}",
      {{/if}}
      "attributeId": {{{stringify this}}},
       "attributeIdDescription": "{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="ServiceLength" match="code" with=this fetch="desc"}}"
       {{#if ../mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="ServiceLength" match="code" with=this fetch="desc"}}"
       {{/if}}
      }
     {{#unless @last}}
      ,
     {{/unless}}
    {{/each}}
    {{#each service.modesOfTransport}}
    {{#if @first}}
      {{#if ../../service.serviceLength}}
        ,
      {{/if}}
    {{/if}}
      {
       "attributeTypeId": "{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="modesOfTransport._def"  fetch="attributeTypeId"}}",
       "attributeTypeIdDescription": "{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="modesOfTransport._def" fetch="attributeTypeId"}}
      {{/resolveMasterData}}",
      {{#if ../mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="modesOfTransport._def" fetch="attributeTypeId"}}
        {{/resolveMasterData}}",
      {{/if}}
      "attributeId": {{{stringify this}}},
    "attributeIdDescription": "{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="ModeOfTransport" match="code" with=this fetch="desc"}}"
       {{#if ../mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="ModeOfTransport" match="code" with=this fetch="desc"}}"
       {{/if}}
      }
     {{#unless @last}}
      ,
     {{/unless}}
    {{/each}}
    {{#each service.classifications}}
    {{#if @first}}
      {{#multiValueOr   ../../service.serviceLength ../../service.modesOfTransport}}
      ,
      {{/multiValueOr}}
    {{/if}}
      {
       "attributeTypeId": "{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="classifications._def"  fetch="attributeTypeId"}}",
       "attributeTypeIdDescription": "{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="classifications._def" fetch="attributeTypeId"}}
      {{/resolveMasterData}}",
      {{#if ../mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="classifications._def" fetch="attributeTypeId"}}
        {{/resolveMasterData}}",
      {{/if}}
      "attributeId": {{{stringify this}}},
    "attributeIdDescription": "{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="Classification" match="code" with=this fetch="desc"}}"
       {{#if ../mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="Classification" match="code" with=this fetch="desc"}}"
       {{/if}}
      }
     {{#unless @last}}
      ,
     {{/unless}}
    {{/each}}
    {{#each service.facilities}}
    {{#if @first}}
      {{#multiValueOr   ../../service.serviceLength ../../service.modesOfTransport ../../service.classifications}}
      ,
      {{/multiValueOr}}
    {{/if}}
      {
       "attributeTypeId": "{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="facilities._def"  fetch="attributeTypeId"}}",
       "attributeTypeIdDescription": "{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="facilities._def" fetch="attributeTypeId"}}
      {{/resolveMasterData}}",
      {{#if ../mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="facilities._def" fetch="attributeTypeId"}}
        {{/resolveMasterData}}",
      {{/if}}
      "attributeId": {{{stringify this}}},
    "attributeIdDescription": "{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="ServiceFacilities" match="code" with=this fetch="desc"}}"
       {{#if ../mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="ServiceFacilities" match="code" with=this fetch="desc"}}"
       {{/if}}
      }
     {{#unless @last}}
      ,
     {{/unless}}
    {{/each}}
    {{#if service.fitnessRequired}}
      {{#multiValueOr   service.serviceLength service.modesOfTransport service.classifications service.facilities}}
      ,
      {{/multiValueOr}}
      {
       "attributeTypeId": "{{resolveMasterData md for="default" from="modelSpecs" at0="service.properties" at2="fitnessRequired._def"  fetch="attributeTypeId"}}",
       "attributeTypeIdDescription": "{{#resolveMasterData md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="fitnessRequired._def" fetch="attributeTypeId"}}
      {{/resolveMasterData}}",
      {{#if mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../md for=../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="fitnessRequired._def" fetch="attributeTypeId"}}
        {{/resolveMasterData}}",
      {{/if}}
      "attributeId": {{{stringify service.fitnessRequired}}},
    "attributeIdDescription": "{{resolveMasterData md for="default" from="enumerations" at0="listing.service" at1=listing.category at2="FitnessRequired" match="code" with=service.fitnessRequired fetch="desc"}}"
       {{#if mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../md for=../mv from="enumerations" at0="listing.service" at1=../listing.category at2="FitnessRequired" match="code" with=service.fitnessRequired fetch="desc"}}"
       {{/if}}
      }
    {{/if}}
    {{#each service.travelMethods}}
    {{#if @first}}
       {{#multiValueOr   ../../service.serviceLength ../../service.modesOfTransport ../../service.classifications ../../service.facilities ../../service.fitnessRequired}}
      ,
       {{/multiValueOr}}
    {{/if}}
      {
       "attributeTypeId": "{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="travelMethods._def"  fetch="attributeTypeId"}}",
       "attributeTypeIdDescription": "{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="travelMethods._def" fetch="attributeTypeId"}}
      {{/resolveMasterData}}",
      {{#if ../mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="travelMethods._def" fetch="attributeTypeId"}}
        {{/resolveMasterData}}",
      {{/if}}
      "attributeId": {{{stringify this}}},
    "attributeIdDescription": "{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="JourneyTravelType" match="code" with=this fetch="desc"}}"
       {{#if ../mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="JourneyTravelType" match="code" with=this fetch="desc"}}"
       {{/if}}
      }
     {{#unless @last}}
      ,
     {{/unless}}
    {{/each}}
    {{#if service.routeType}}
      {{#multiValueOr   service.serviceLength service.modesOfTransport service.classifications service.facilities service.fitnessRequired service.travelMethods}}
      ,
      {{/multiValueOr}}
      {
       "attributeTypeId": "{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="routeType._def"  fetch="attributeTypeId"}}",
       "attributeTypeIdDescription": "{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="routeType._def" fetch="attributeTypeId"}}
      {{/resolveMasterData}}",
      {{#if ../mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
        {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="routeType._def" fetch="attributeTypeId"}}
        {{/resolveMasterData}}",
      {{/if}}
      "attributeId": {{{stringify service.routeType}}},
    "attributeIdDescription": "{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="RouteType" match="code" with=service.routeType fetch="desc"}}"
       {{#if ../mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="RouteType" match="code" with=service.routeType fetch="desc"}}"
       {{/if}}
      }
    {{/if}}
    {{#if service.difficulty.grade}}
      {{#multiValueOr   service.serviceLength service.modesOfTransport service.classifications service.facilities service.fitnessRequired service.travelMethods service.routeType}}
      ,
       {{/multiValueOr}}
      {
       "attributeTypeId": "{{resolveMasterData md for="default" from="modelSpecs" at0="service.properties" at2="difficulty.grade._def"  fetch="attributeTypeId"}}",
       "attributeTypeIdDescription": "{{#resolveMasterData md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="difficulty.grade._def" fetch="attributeTypeId"}}
            {{/resolveMasterData}}",
      {{#if mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../md for=../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="difficulty.grade._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}",
      {{/if}}
      "attributeId": {{{stringify service.difficulty.grade}}},
    "attributeIdDescription": "{{resolveMasterData md for="default" from="enumerations" at0="listing.service" at1=listing.category at2="Difficulty" match="code" with=service.difficulty.grade fetch="desc"}}"
       {{#if mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../md for=../mv from="enumerations" at0="listing.service" at1=../listing.category at2="Difficulty" match="code" with=service.difficulty.grade fetch="desc"}}"
       {{/if}}
      }
    {{/if}}
    {{#each service.tags}}
      {{#if @first}}
        {{#multiValueOr    ../../service.serviceLength ../../service.modesOfTransport ../../service.classifications ../../service.facilities ../../service.fitnessRequired  ../../service.travelMethods  ../../service.routeType  ../../service.difficulty.grade}}
            ,
        {{/multiValueOr}}
      {{/if}}
      {
        "attributeTypeId":"SVC TAG",
        "attributeTypeIdDescription":"Service Tags",
        {{#ifIn scope "GLOBAL"}}
          "attributeId": "{{#removeSpaces}}{{breaklinesJSON ../../name}}{{/removeSpaces}}",
        {{else}}
          "attributeId": "{{#removeSpaces}}{{breaklinesJSON ../../name}}[{{{../../scope}}}]{{/removeSpaces}}",
        {{/ifIn}}
        "attributeIdDescription": {{{stringify name}}}
        {{#if ../mv}}
          ,"attributeIdDescriptionMv": "{{{findInArrayOnlyFromKey translations key=../mv default=name}}}"
        {{/if}}
      }
      {{#unless @last}}
          ,
      {{/unless}}
    {{/each}}
    {{#each service.activities}}
    {{#if @first}}
       {{#multiValueOr   ../../service.serviceLength ../../service.modesOfTransport ../../service.classifications ../../service.facilities ../../service.fitnessRequired  ../../service.travelMethods  ../../service.routeType  ../../service.difficulty.grade ../../service.tags}}
      ,
       {{/multiValueOr}}
    {{/if}}
      {
       "attributeTypeId": "{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="activities._def"  fetch="attributeTypeId"}}",
       "attributeTypeIdDescription": "{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
  {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="activities._def" fetch="attributeTypeId"}}
{{/resolveMasterData}}",
      {{#if ../mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
  {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="activities._def" fetch="attributeTypeId"}}
  {{/resolveMasterData}}",
      {{/if}}
      "attributeId": {{{stringify this}}},
    "attributeIdDescription": "{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="Activities" match="code" with=this fetch="desc"}}"
       {{#if ../mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="Activities" match="code" with=this fetch="desc"}}"
       {{/if}}
      }
     {{#unless @last}}
      ,
     {{/unless}}
    {{/each}}
    {{#join withStr="},{" pattern="\}\n( )*\{" trim=true}}
    {{#each service.accessibility.attributeBlocks}}
    {{#if @first}}
       {{#multiValueOr   ../../service.serviceLength ../../service.modesOfTransport ../../service.classifications ../../service.facilities ../../service.fitnessRequired  ../../service.travelMethods  ../../service.routeType  ../../service.difficulty.grade ../../service.tags ../../service.activities}}
       {{#ifValue ../../../service.accessibility.selected "DISTASSIST"}}
        {{else}}
        {{#ifValue ../../this.selected true}}
            ,
        {{/ifValue}}
        {{/ifValue}}
       {{/multiValueOr}}
    {{else}}
    {{#ifValue ../this.selected true}}
        ,
    {{/ifValue}}   
    {{/if}}
    {{#ifValue ../service.accessibility.selected "DISASSIST"}}
    {{#ifValue ../this.selected true}}
      {
       "attributeTypeId": "{{../../../service.accessibility.selected}}",
       "attributeTypeIdDescription": "{{#resolveMasterData ../../../md for="default" from="enumerations" at0="listing"   at2="Accessibility" match="code" with=../../../service.accessibility.selected fetch="desc"}}
        {{/resolveMasterData}}",
      {{#if ../../../mv}}
        "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../../../md for=../../../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" with=../../../../service.accessibility.selected fetch="desc"}}
            {{/resolveMasterData}}",
      {{/if}}
      "attributeId": "{{@key}}",
      {{#ifValue @key "DISTASSIST"}}
      "attributeIdDescription": "{{#resolveMasterData ../../../../md for="default" from="enumerations" at0="listing"   at2="Accessibility" match="code" with=@key fetch="desc"}}{{/resolveMasterData}}"
      {{else}}
    "attributeIdDescription": "{{resolveAccessibilityMasterData ../../../../md for="default" from="enumerations" at0="listing.service" at1="Accessibility" at2="attributeBlocks.attributes" match="code" with=@key fetch="desc"}}"
      {{/ifValue}}
       {{#if ../../../mv}}
           ,
       "attributeIdDescriptionMv": "{{resolveMasterData ../../../../md for=../../../../mv from="enumerations" at0="listing.service"  at2="Accessibility" match="code" with=@key fetch="desc"}}"
       {{/if}}
      }
      {{/ifValue}}
     {{/ifValue}}
    {{/each}}
    {{/join}}
    {{#ifValue service.accessibility.selected "DISTASSIST"}}
       {{#multiValueOr   ../service.serviceLength ../service.modesOfTransport ../service.classifications ../service.facilities ../service.fitnessRequired  ../service.travelMethods  ../service.routeType  ../service.difficulty.grade ../service.tags ../service.activities}}
          ,
       {{/multiValueOr}}
        {
          "attributeTypeId":"DISASSIST",
          "attributeTypeIdDescription":"{{#resolveMasterData ../md for="default" from="enumerations" at0="listing.service"   at2="Accessibility" match="code" with="DISASSIST" fetch="desc"}}
      {{/resolveMasterData}}",
          {{#if ../mv}}
            "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" with="DISASSIST" fetch="desc"}}
                {{/resolveMasterData}}",
          {{/if}}  
          "attributeId":"{{../service.accessibility.selected}}",
          "attributeIdDescription":"{{#resolveMasterData ../md for="default" from="enumerations" at0="listing.service"   at2="Accessibility" match="code" with=../service.accessibility.selected fetch="desc"}}
      {{/resolveMasterData}}"
           {{#if ../mv}}
           ,
           "attributeIdDescriptionMv": "{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service"  at2="Accessibility" match="code" with=../../service.accessibility.selected fetch="desc"}}"
           {{/if}}  
        }
    {{/ifValue}}
  ],
  "accessibilityAttributes":[
    {{#if service.accessibility}}
        {
          "attributeTypeId": "{{resolveMasterData md for="default" from="modelSpecs" at0="service.properties" at2="accessibility._def"  fetch="attributeTypeId"}}",
          "attributeTypeIdDescription": "{{#resolveMasterData md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code"  fetch="desc"}}
            {{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="accessibility._def" fetch="attributeTypeId"}}
        {{/resolveMasterData}}",
          {{#if ../mv}}
              "attributeTypeIdDescriptionMv": "{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
              {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="accessibility._def" fetch="attributeTypeId"}}
              {{/resolveMasterData}}",
          {{/if}}
          "attributeSubType1Id": "{{{service.accessibility.selected}}}",
          "attributeSubType1IdDescription":"{{resolveMasterData md for="default" from="enumerations" at0="listing.service"   at2="Accessibility" match="code" with=service.accessibility.selected fetch="desc"}}"
            {{#if service.accessibility.attributes}}
              , "attributes": [
              {{#each service.accessibility.attributes}}
                {
                "attributeId":{{{stringify this}}},
                "attributeIdDescription":"{{resolveAccessibilityMasterData ../../../md for="default" from="enumerations" at0="listing.service" at1="Accessibility" at2="attributes" match="code" with=this fetch="desc"}}"
                }
                {{#unless @last}}
                    ,
                {{/unless}}
              {{/each}}
              ]
            {{/if}}
            {{#if service.accessibility.attributeBlocks}}
              ,
              "attributeBlocks": [
                  {{#join withStr="},{" pattern="\}\n( )*\{" trim=true}}
                  {{#each service.accessibility.attributeBlocks}}
                  {{#ifValue this.selected true}}
                    {
                    "attributeSubType2Id": {{{stringify @key}}},
                    {{#ifValue @key "DISTASSIST"}}
                    "attributeSubType2IdDescription":"{{#resolveMasterData ../../../../../md for="default" from="enumerations" at0="listing.service"   at2="Accessibility" match="code" with=@key fetch="desc"}}
                    {{/resolveMasterData}}",
                    {{else}}
                    "attributeSubType2IdDescription":"{{resolveAccessibilityMasterData ../../../../../md for="default" from="enumerations" at0="listing.service" at1="Accessibility" at2="attributeBlocks" match="code" with=@key fetch="desc"}}",
                    {{/ifValue}}
                      "attributes": [
                        {{#each ../attributes}}
                            {
                            "attributeId":{{{stringify this}}},
                            "attributeIdDescription": "{{resolveAccessibilityMasterData ../../../../../md for="default" from="enumerations" at0="listing.service" at1="Accessibility" at2="attributeBlocks.attributes" match="code" with=this fetch="desc"}}"
                            }
                            {{#unless @last}}
                            ,
                            {{/unless}}
                        {{/each}}
                        {{#ifValue @key "ACCESSINCLSTMNT"}}
                            {
                                "attributeId":"ACCESSURL",
                                "attributeIdDescription":"{{../../../../../service.accessibility.attributeBlocks.ACCESSINCLSTMNT.ACCESSURL}}"
                            }
                        {{/ifValue}}
                        ]
                      }
                      {{/ifValue}}
                  {{/each}}
                  {{/join}}
                ]
            {{/if}}
        }
    {{/if}}
  ],
  "configuration": [
  {
    "attributeIdServiceConfiguration": "",
    "attributeIdServiceConfigurationDescription": "",
    "attributeIdServiceConfigurationDescriptionMv": "",
    "minimumCapacity": {{{stringify service.serviceCapacity.min}}},
    "maximumCapacity": {{{stringify service.serviceCapacity.max}}},
    "serviceConfigurationAttrRelationship": [
    {
      "attributeTypeId": "",
      "attributeId": "",
      "attributeIdDescription": ""
    }
    ]
  }
  ],
  "multimedia": [
    {{#each service.media}}
    {{#each this.alternates}}
      {
        "marketVariantId": "",
        "multimediaId": {{{stringify ../this.id}}},
        "authoredDate": "{{formatDateYYYYMMDD ../this.updatedOn}}",
        "serverPath": {{{stringify this.content}}},
        {{#ifValue ../this.mimetype "image/jpeg"}}
        "attributeIdMultimediaFile": ".JPG",
        {{/ifValue}}
        "attributeIdMultimediaContent": "{{{convertToUppercase ../this.kind}}}",
        "attributeIdMultimediaContentDescription": "Image",
        "attributeIdSizeOrientation": "{{{convertToUppercase this.metadata.ratio}}}",
        "width": {{{stringify this.metadata.dimen.width}}},
        "height": {{{stringify this.metadata.dimen.height}}},
        "altText": {{{stringify ../this.metadata.altText}}},
        "caption": {{{stringify ../this.metadata.caption}}},
        "photographer": {{{stringify ../this.metadata.photographer}}},
        "copyright": {{{stringify ../this.metadata.copyright}}},
        "sequenceNumber": {{{stringify ../this.sequenceNumber}}}
      }
     {{#unless @last}}
      ,
     {{/unless}}
    {{/each}}
      {{#unless this.alternates}}
      {
        "marketVariantId": "",
        "multimediaId": {{{stringify this.id}}},
        "authoredDate": "{{formatDateYYYYMMDD ../this.updatedOn}}",
        "serverPath": {{{stringify this.content}}},
        {{#ifValue this.mimetype "image/jpeg"}}
          "attributeIdMultimediaFile": ".JPG",
        {{/ifValue}}
        "attributeIdMultimediaContent": "{{{convertToUppercase this.kind}}}",
        "attributeIdMultimediaContentDescription": "Image",
        "attributeIdSizeOrientation": "{{{convertToUppercase this.metadata.ratio}}}",
        "width": {{{stringify this.metadata.dimen.width}}},
        "height": {{{stringify this.metadata.dimen.height}}},
        "altText": {{{stringify this.metadata.altText}}},
        "caption": {{{stringify ../this.metadata.caption}}},
        "photographer": {{{stringify this.metadata.photographer}}},
        "copyright": {{{stringify ../this.metadata.copyright}}},
        "sequenceNumber": {{{stringify this.sequenceNumber}}}
      }
      {{/unless}}
    {{#unless @last}}
      ,
    {{/unless}}
   {{/each}}
    {{#each service.videos}}
      {{#if @first}}
        {{#multiValueOr ../../service.media}}
          ,
        {{/multiValueOr}}
      {{/if}}
      {
      "marketVariantId": "",
      "multimediaId": "{{../service.id}}{{this.sequenceNumber}}",
      "authoredDate": "{{formatDateYYYYMMDD ../this.updatedOn}}",
      "serverPath": {{{stringify this.content}}},
      "videoId": "",
      "videoThumbnailPath": {{{stringify this.thumbnail}}},
      "attributeIdMultimediaFile": "",
      "attributeIdMultimediaFileDescription": "",
      "attributeIdMultimediaContent": "VIDEO",
      "attributeIdMultimediaContentDescription": "Video",
      "attributeIdSizeOrientation": "",
      "attributeIdSizeOrientationDescription": "",
      "altText": "",
      "multimediaDescription": "",
      "sequenceNumber": {{{stringify this.sequenceNumber}}}
      }
      {{#unless @last}}
        ,
      {{/unless}}
    {{/each}}
  ],
  "serviceIndicativePrices": [
    {{#if service.rates}}
    {
      "attributeIdRateBasis": "",
      "attributeIdRateBasisDescription": "",
      {{#ifValue ../service.rates.0.ratesType 'ADULT'}}
      "range1FromRate": {{{stringify ../../service.rates.0.priceFrom}}},
      "range1ToRate": {{{stringify ../../service.rates.0.priceTo}}},
      "range1CommentText": {{{stringify ../../service.rates.0.rateComment}}},
      {{#ifValue ../../service.category "TOUR"}}
        "freeEntryFlag": "{{freeEntryTourService ../../service ../../service.rates.0.ratesType}}"
      {{/ifValue}}
      {{else}}
      "range1FromRate": "",
      "range1ToRate": "",
      "range1CommentText": "",
      {{#ifValue ../../service.category "TOUR"}}
        "freeEntryFlag": ""
      {{/ifValue}}
      {{/ifValue}}
    }
    {{/if}}
  ],
  "serviceIndicativeChildRate" : [{{#if service.rates}}
    {
      "attributeIdRateBasis": "",
      "attributeIdRateBasisDescription": "",
      {{#ifValue ../service.rates.0.ratesType 'CHILD'}}
      "range1FromRate": {{{stringify ../../service.rates.0.priceFrom}}},
      "range1ToRate": {{{stringify ../../service.rates.0.priceTo}}},
      "range1CommentText": {{{stringify ../../service.rates.0.rateComment}}},
      {{#ifValue ../../service.category "TOUR"}}
        "freeEntryFlag": "{{freeEntryTourService ../../service ../../service.rates.0.ratesType}}"
      {{/ifValue}}
      {{else}}
      "range1FromRate": {{{stringify ../../service.rates.1.priceFrom}}},
      "range1ToRate": {{{stringify ../../service.rates.1.priceTo}}},
      "range1CommentText": {{{stringify ../../service.rates.1.rateComment}}},
      {{#ifValue ../../service.category "TOUR"}}
        "freeEntryFlag": "{{freeEntryTourService ../../service ../../service.rates.1.ratesType}}"
      {{/ifValue}}
      {{/ifValue}}
    }
    {{/if}}
  ],
  "serviceRateInclusions" : {{{stringify service.ratesInclusion}}},
  "verticalClassifications": [
{{#ifValue listing.category "TOUR"}}
  {{#each ../service.classifications}}
    {
    "productTypeId": {{{stringify this}}},
    "productTypeDescription": "{{resolveMasterData ../../md for="default" from="enumerations" at0="listing.service"  at1=../../listing.category  at2="Classification" match="code" with=this fetch="desc"}}"
    {{#if ../../mv}}
      ,
      "productTypeDescriptionMv": "{{resolveMasterData ../../../md for=../../../mv from="enumerations" at0="listing.service"  at1=../../../listing.category  at2="Classification" match="code" with=this fetch="desc"}}"
    {{/if}}
    }
    {{#unless @last}}
      ,
    {{/unless}}
  {{/each}}
  {{#each ../service.serviceLength}}
  {{#if @first}}
    {{#if ../../../service.classifications}}
      ,
    {{/if}}
  {{/if}}
  {
  "productTypeId": {{{stringify this}}},
  "productTypeDescription": "{{resolveMasterData ../../md for="default" from="enumerations" at0="listing.service"  at1=../../listing.category  at2="ServiceLength" match="code" with=this fetch="desc"}}"
  {{#if ../../mv}}
    ,
    "productTypeDescriptionMv": "{{resolveMasterData ../../../md for=../../../mv from="enumerations" at0="listing.service"  at1=../../../listing.category  at2="ServiceLength" match="code" with=this fetch="desc"}}"
  {{/if}}
  }
  {{#unless @last}}
    ,
  {{/unless}}
  {{/each}}
{{else}}
    {{#each ../listing.serviceTypes}}
        {
        "productTypeId": {{{stringify this}}},
        "productTypeDescription": "{{resolveMasterData ../../md for="default" from="enumerations" at0="listing"  at1=../../listing.category  at2="Classification" match="code" with=this fetch="desc"}}"
        {{#if ../../mv}}
            ,
            "productTypeDescriptionMv": "{{resolveMasterData ../../../md for=../../../mv from="enumerations" at0="listing"  at1=../../../listing.category  at2="Classification" match="code" with=this fetch="desc"}}"
        {{/if}}
        }
        {{#unless @last}}
            ,
        {{/unless}}
    {{/each}}
{{/ifValue}}
  ],
  "waypoints": [
  {{#each service.waypoints}}
    {
      "serviceId": {{{stringify ../service.id}}},
      "waypointId": "",
      "waypointName": {{{stringify this.name}}},
      "waypointDescription": {{{stringify this.desc}}},
      "geocodeGdaLatitude": {{{stringify this.address.geoCodeLocation.latitude}}},
      "geocodeGdaLongitude": {{{stringify this.address.geoCodeLocation.longitude}}},
      "serviceWaypointRelatedProduct": "",
      "sequenceNumber": {{{stringify this.sequenceNumber}}}
    }
  {{#unless @last}}
     ,
  {{/unless}}
  {{/each}}
  ],
   "serviceRoute" : [
  {{#each service.waypoints}}
    {
      "attributeIdAddress" : "PHYSICAL",
      "attributeIdAddressDescription" : "physical",
      "addressLine1" : {{{stringify this.address.addrLine1}}},
      "addressLine2" : {{{stringify this.address.addrLine2}}},
      "suburbName" : {{{stringify this.address.city_suburb}}},
      "cityName" : "",
      "areaName" : "",
      "stateName" : "{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="State" match="code" with=this.address.state fetch="desc"}}",
      {{#if this.address.country}}
      "countryName" : {{{stringify ../this.address.country}}},
      {{else}}
      "countryName" : "Australia",
      {{/if}}
      "geocodeGdaLatitude": {{{stringify this.address.geoCodeLocation.latitude}}},
      "geocodeGdaLongitude": {{{stringify this.address.geoCodeLocation.longitude}}},
      "addressPostalCode" : {{{stringify this.address.postcode}}}
    }{{#unless @last}},{{/unless}}
  {{/each}}
  ],
  "serviceStartLocation": [
  {{#if service.startLocation}}
    {
      "sequenceNumber" : "",
      "startLocationText" : "",
      "attributeIdAddress" : "",
      "attributeIdAddressDescription" : "",
      "addressLine1" : {{{stringify ../service.startLocation.addrLine1}}},
      "addressLine2" : {{{stringify ../service.startLocation.addrLine2}}},
      "suburbName" : {{{stringify ../service.startLocation.city_suburb}}},
      "cityName" : "",
      "areaName" : "",
      "stateName" : "{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="State" match="code" with=../service.startLocation.state fetch="desc"}}",
      {{#if ../service.startLocation.country}}
      "countryName" : {{{stringify ../service.startLocation.country}}},
      {{else}}
      "countryName" : "Australia",
      {{/if}}
      "addressPostalCode" : {{{stringify ../service.startLocation.postcode}}},
      "attributeIdAddressDescription" : "",
      "geocodeGdaLatitude" : {{{stringify ../service.startLocation.geoCodeLocation.latitude}}},
      "geocodeGdaLongitude" : {{{stringify ../service.startLocation.geoCodeLocation.longitude}}},
      "serviceStartLocStreetDirectoryRelationship": "",
      "serviceStartLocDomesticRegionRelationship": [
      {{#findUniq ../service.serviceStartLocations property='region'}}
      {{#each this}}
        {
        "domesticRegionName": {{{stringify this.region}}},
        "domesticRegionCode": {{{stringify this.domesticRegionCode}}},
        "attributeIdDomRegionType": {{{stringify this.domesticRegionType}}}
        }
        {{#unless @last}}
          ,
        {{/unless}}
      {{/each}}
      {{/findUniq}}  
      ],
      "serviceStartLocAreaRelationship": [
        {{#findUniq ../service.serviceStartLocations property='area'}}
        {{#each this}}
          {
            "areaName": {{{stringify this.area}}},
            "areaType": {{{stringify this.areaType}}}
          }
          {{#unless @last}}
            ,
          {{/unless}}
        {{/each}}
        {{/findUniq}}
      ]
    }
   {{/if}}
  ],
  "serviceEndLocation": [
    {{#if service.endLocation}}
      {
        "sequenceNumber" : "",
        "endLocationText" : "",
        "attributeIdAddress" : "",
        "attributeIdAddressDescription" : "",
        "addressLine1" : {{{stringify ../service.endLocation.addrLine1}}},
        "addressLine2" : {{{stringify ../service.endLocation.addrLine2}}},
        "suburbName" : {{{stringify ../service.endLocation.city_suburb}}},
        "cityName" : "",
        "areaName" : "",
        "stateName" : "{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="State" match="code" with=../service.endLocation.state fetch="desc"}}",
        {{#if ../service.endLocation.country}}
        "countryName" : {{{stringify ../service.endLocation.country}}},
        {{else}}
        "countryName" : "Australia",
        {{/if}}
        "addressPostalCode" : {{{stringify ../service.endLocation.postcode}}},
        "attributeIdAddressDescription" : "",
        "geocodeGdaLatitude" : {{{stringify ../service.endLocation.geoCodeLocation.latitude}}},
        "geocodeGdaLongitude" : {{{stringify ../service.endLocation.geoCodeLocation.longitude}}},
        "serviceEndLocStreetDirectoryRelationship": "",
        "serviceEndLocDomesticRegionRelationship": [
        {{#findUniq ../service.serviceEndLocations property='region'}}
        {{#each this}}
          {
          "domesticRegionName": {{{stringify this.region}}},
          "domesticRegionCode": {{{stringify this.domesticRegionCode}}},
          "attributeIdDomRegionType": {{{stringify this.domesticRegionType}}}
          }
          {{#unless @last}}
            ,
          {{/unless}}
        {{/each}}
        {{/findUniq}}  
        ],
        "serviceEndLocAreaRelationship": [
        {{#findUniq ../service.serviceEndLocations property='area'}}
        {{#each this}}
          {
            "areaName": {{{stringify this.area}}},
            "areaType": {{{stringify this.areaType}}}
          }
          {{#unless @last}}
            ,
          {{/unless}}
        {{/each}}
        {{/findUniq}}
        ]
      }
     {{/if}}
  ],
  "serviceComment": [
    {{#each  service.translations}}
    {
      "marketVariantId": "{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="Language" match="code" with=this.language fetch="desc"}}",
      "sequenceNumber": "",
      "attributeIdLanguageWritten": {{{stringify this.language}}},
      "attributeIdLanguageWrittenDescription": "{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="Language" match="code" with=this.language fetch="desc"}}",
      "commentText": {{{stringify this.description}}}
    }
    {{#unless @last}}
      ,
    {{/unless}}
    {{/each}}
  ],
  "serviceSchedule": [
   {{#each service.serviceSchedule}}
   {
    "type": {{{stringify type}}},
    "dateFrom": "{{formatDateYMD dateFrom}}",
    "dateTo": "{{formatDateYMD dateTo}}",
    "departureTime": [
      {{#each this.departureTime}}
      {
       "dayOfWeek": {{{stringify dayOfWeek}}},
       "departTime": {{{stringify departTime}}},
       "returnDay": {{{stringify returnDay}}},
       "returnTime": {{{stringify returnTime}}}
      }
      {{#unless @last}}
       ,
      {{/unless}}
      {{/each}}
    ],
    "tourScheduleDetails": {{{stringify tourScheduleDetails}}}
   }
    {{#unless @last}}
      ,
    {{/unless}}
   {{/each}}
  ],
  "locationDetails": {{{stringify service.locationDetails}}},
  "trailDistance": {{{stringify service.trailDistance}}},
  "trailDuration": {{{stringify service.trailDuration}}},
  "trailNumber": {{{stringify service.trailNumber}}},
  "serviceDifficultyComment": {{{stringify service.difficulty.comment}}}
}

