<?xml version="1.0" encoding="UTF-16LE"?>
<atdw_data_results>
    <service_distribution product_id="{{listing.id}}" product_number="{{listing.productNumber}}"
                          service_id="{{service.id}}">
    <service_record>
        <service_name>{{service.name}}</service_name>
        {{#if mv}}
        <service_name_mv>{{findInArrayFromKey service.translations  key='language' value=mv match="name"}}</service_name_mv>
        {{/if}}
        <product_category_id>{{listing.category}}</product_category_id>
        <product_pixel_url>{{protocol}}://{{host}}/pixel?productId={{productId}}&amp;distributorId={{organisationId}}&amp;language={{prodoductLanguage}}&amp;syndicationMethod=API</product_pixel_url>
        <international_ready_flag/>
        <sequence_number>{{service.sequenceNumber}}</sequence_number>
        <minimum_capacity>{{service.serviceCapacity.min}}</minimum_capacity>
        <maximum_capacity>{{service.serviceCapacity.max}}</maximum_capacity>
        <children_catered_for_flag/>
        <children_catered_for_text/>
        <pets_allowed_flag/>
        <disabled_access_flag/>
        <pickup_available_flag/>
        <tour_duration/>
        <attribute_id_time_unit/>
        <attribute_id_time_unit_description/>
        <service_description>{{breaklinesXML service.description}}</service_description>   
        {{#if mv}}
        <service_description_mv>{{findInArrayFromKey service.translations  key='language' value=mv match="description"}}</service_description_mv>    
        {{/if}}
        <journey_route>
          {{#ifValueForJourneyRoutes service.category "TOUR"}}
            {{#processGeoLocation type="LINESTRING" withOutQuote="true"}}
               {{#join withStr="," pattern="\n" trim=true}}
                {{#if ../service.startLocation.geoCodeLocation.longitude}}
                  {{#if ../../service.startLocation.geoCodeLocation.latitude}}
                    {{../../../service.startLocation.geoCodeLocation.longitude}}|{{../../../service.startLocation.geoCodeLocation.latitude}}
                  {{/if}}
                {{/if}}
                {{#each ../service.waypoints}}
                  {{#if address.geoCodeLocation.longitude}}
                    {{#if address.geoCodeLocation.latitude}}
                      {{address.geoCodeLocation.longitude}}|{{address.geoCodeLocation.latitude}}
                    {{/if}}
                  {{/if}}
                {{/each}}
                {{#if ../service.endLocation.geoCodeLocation.longitude}}
                  {{#if ../../service.endLocation.geoCodeLocation.latitude}}
                    {{../../../service.endLocation.geoCodeLocation.longitude}}|{{../../../service.endLocation.geoCodeLocation.latitude}}
                  {{/if}}
                {{/if}}
              {{/join}}
            {{/processGeoLocation}}      
          {{else}} 
            {{../service.route.standard}}
          {{/ifValueForJourneyRoutes}}  
        </journey_route>
        <location_details>{{breaklinesXML service.locationDetails}}</location_details>
        {{#if service.serviceBooking}}
          <service_booking>{{breaklinesXML service.serviceBooking.bookingURL}}</service_booking>
        {{/if}}
        {{#if service.serviceContacts}}
          <tour_booking>{{breaklinesXML service.serviceContacts.urlEnquiries}}</tour_booking>
        {{/if}}
        <trail_distance>{{service.trailDistance}}</trail_distance>
        <trail_duration>{{service.trailDuration}}</trail_duration>
        <trail_number>{{service.trailNumber}}</trail_number>
        <service_difficulty_comment>{{service.difficulty.comment}}</service_difficulty_comment>
    </service_record>
    <service_attribute>
        {{#each service.serviceLength}}
         <row>
            <attribute_type_id>{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="serviceLength._def"  fetch="attributeTypeId"}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="serviceLength._def" fetch="attributeTypeId"}}
            {{/resolveMasterData}}</attribute_type_id_description>
            {{#if ../mv}}
                <attribute_type_id_description>{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="serviceLength._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description>
            {{/if}}
            <attribute_id>{{this}}</attribute_id>
            <attribute_id_description>{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="ServiceLength" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{#if ../mv}}
             <attribute_id_description>{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="ServiceLength" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{/if}}
         </row>
       {{/each}}
       {{#each service.modesOfTransport}}
         <row>
            <attribute_type_id>{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="modesOfTransport._def"  fetch="attributeTypeId"}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="modesOfTransport._def" fetch="attributeTypeId"}}
            {{/resolveMasterData}}</attribute_type_id_description>
            {{#if ../mv}}
                <attribute_type_id_description>{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="modesOfTransport._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description>
            {{/if}}
            <attribute_id>{{this}}</attribute_id>
            <attribute_id_description>{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="ModeOfTransport" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{#if ../mv}}
             <attribute_id_description>{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="ModeOfTransport" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{/if}}
         </row>
       {{/each}}
       {{#each service.classifications}}
         <row>
            <attribute_type_id>{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="classifications._def"  fetch="attributeTypeId"}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="classifications._def" fetch="attributeTypeId"}}
            {{/resolveMasterData}}</attribute_type_id_description>
            {{#if ../mv}}
                <attribute_type_id_description>{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="classifications._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description>
            {{/if}}
            <attribute_id>{{this}}</attribute_id>
            <attribute_id_description>{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="Classification" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{#if ../mv}}
             <attribute_id_description>{{resolveMasterData ../../md  for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="Classification" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{/if}}
         </row>
       {{/each}}
       {{#each service.facilities}}
         <row>
            <attribute_type_id>{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="facilities._def"  fetch="attributeTypeId"}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="facilities._def" fetch="attributeTypeId"}}
            {{/resolveMasterData}}</attribute_type_id_description>
            {{#if ../mv}}
                <attribute_type_id_description>{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="facilities._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description>
            {{/if}}
            <attribute_id>{{this}}</attribute_id>
            <attribute_id_description>{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="ServiceFacilities" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{#if ../mv}}
             <attribute_id_description>{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="ServiceFacilities" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{/if}}
         </row>
       {{/each}}
       {{#each service.travelMethods}}
         <row>
            <attribute_type_id>{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="travelMethods._def"  fetch="attributeTypeId"}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="travelMethods._def" fetch="attributeTypeId"}}
            {{/resolveMasterData}}</attribute_type_id_description>
            {{#if ../mv}}
                <attribute_type_id_description>{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="travelMethods._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description>
            {{/if}}
            <attribute_id>{{this}}</attribute_id>
            <attribute_id_description>{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="JourneyTravelType" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{#if ../mv}}
             <attribute_id_description>{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="JourneyTravelType" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{/if}}
         </row>
       {{/each}}
       {{#if service.routeType}}
         <row>
            <attribute_type_id>{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="routeType._def"  fetch="attributeTypeId"}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="routeType._def" fetch="attributeTypeId"}}
            {{/resolveMasterData}}</attribute_type_id_description>
            {{#if ../mv}}
                <attribute_type_id_description>{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="routeType._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description>
            {{/if}}
            <attribute_id>{{service.routeType}}</attribute_id>
            <attribute_id_description>{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="RouteType" match="code" with=service.routeType fetch="desc"}}</attribute_id_description>
            {{#if ../mv}}
             <attribute_id_description>{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="RouteType" match="code" with=service.routeType fetch="desc"}}</attribute_id_description>
            {{/if}}
         </row>
       {{/if}}
        {{#if service.difficulty.grade}}
         <row>
            <attribute_type_id>{{resolveMasterData md for="default" from="modelSpecs" at0="service.properties" at2="difficulty.grade._def"  fetch="attributeTypeId"}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="difficulty.grade._def" fetch="attributeTypeId"}}
            {{/resolveMasterData}}</attribute_type_id_description>
            {{#if mv}}
                <attribute_type_id_description_mv>{{#resolveMasterData ../md for=../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="difficulty.grade._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description_mv>
            {{/if}}
            <attribute_id>{{service.difficulty.grade}}</attribute_id>
            <attribute_id_description>{{resolveMasterData md for="default" from="enumerations" at0="listing.service" at1=listing.category at2="Difficulty" match="code" with=service.difficulty.grade fetch="desc"}}</attribute_id_description>
            {{#if mv}}
             <attribute_id_description_mv>{{resolveMasterData ../md for=../mv from="enumerations" at0="listing.service" at1=../listing.category at2="Difficulty" match="code" with=service.difficulty.grade fetch="desc"}}</attribute_id_description_mv>
            {{/if}}
         </row>
       {{/if}}
        {{#each service.tags}}
            <row>
                <attribute_type_id>SVC TAG</attribute_type_id>
                <attribute_type_id_description>Service Tags</attribute_type_id_description>
                {{#ifIn scope "GLOBAL"}}
                    <attribute_id>{{#removeSpaces}}{{../../name}}{{/removeSpaces}}</attribute_id>
                {{else}}
                    <attribute_id>{{#removeSpaces}}{{../../name}}[{{../../scope}}]{{/removeSpaces}}</attribute_id>
                {{/ifIn}}
                <attribute_id_description>{{name}}</attribute_id_description>
                {{#if ../mv}}
                  <attribute_id_description_mv>{{findInArrayOnlyFromKey translations key=../mv default=name}}</attribute_id_description_mv>
                {{/if}}
            </row>
        {{/each}}
        {{#each service.activities}}
         <row>
            <attribute_type_id>{{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="activities._def"  fetch="attributeTypeId"}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData ../md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
  {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="activities._def" fetch="attributeTypeId"}}
{{/resolveMasterData}}</attribute_type_id_description>
            {{#if ../mv}}
            <attribute_type_id_description_mv>{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
  {{resolveMasterData ../../../md for="default" from="modelSpecs" at0="service.properties" at2="activities._def" fetch="attributeTypeId"}}
  {{/resolveMasterData}}</attribute_type_id_description_mv>
            {{/if}}
            <attribute_id>{{this}}</attribute_id>
            <attribute_id_description>{{resolveMasterData ../md for="default" from="enumerations" at0="listing.service" at1=../listing.category at2="Activities" match="code" with=this fetch="desc"}}</attribute_id_description>
            {{#if ../mv}}
            <attribute_id_description_mv>{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service" at1=../../listing.category at2="Activities" match="code" with=this fetch="desc"}}</attribute_id_description_mv>
            {{/if}}
         </row>
        {{/each}}
        {{#each service.accessibility.attributeBlocks}}
        {{#ifValue ../service.accessibility.selected "DISASSIST"}}
        {{#ifValue ../this.selected true}}
         <row>
            <attribute_type_id>{{../../../service.accessibility.selected}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData ../../../md for="default" from="enumerations" at0="listing"   at2="Accessibility" match="code" with=../../../service.accessibility.selected fetch="desc"}}
        {{/resolveMasterData}}</attribute_type_id_description>
            {{#if ../../../mv}}
            <attribute_type_id_description_mv>{{#resolveMasterData ../../../../md for=../../../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" with=../../../../service.accessibility.selected fetch="desc"}}
        {{/resolveMasterData}}</attribute_type_id_description_mv>
            {{/if}}
            <attribute_id>{{@key}}</attribute_id>
            {{#ifValue @key "DISTASSIST"}}
            <attribute_id_description>{{#resolveMasterData ../../../../md for="default" from="enumerations" at0="listing"   at2="Accessibility" match="code" with=@key fetch="desc"}}{{/resolveMasterData}}</attribute_id_description>
            {{else}}
            <attribute_id_description>{{resolveAccessibilityMasterData ../../../../md for="default" from="enumerations" at0="listing.service" at1="Accessibility" at2="attributeBlocks.attributes" match="code" with=@key fetch="desc"}}</attribute_id_description>
            {{/ifValue}}
            {{#if ../../../mv}}
            <attribute_id_description_mv>{{resolveMasterData ../../../../md for=../../../../mv from="enumerations" at0="listing.service"  at2="Accessibility" match="code" with=@key fetch="desc"}}</attribute_id_description_mv>
            {{/if}}
         </row>
         {{/ifValue}}
         {{/ifValue}}
        {{/each}}
        {{#ifValue service.accessibility.selected "DISTASSIST"}}
        <row>
            <attribute_type_id>DISASSIST</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData ../md for="default" from="enumerations" at0="listing.service"   at2="Accessibility" match="code" with="DISASSIST" fetch="desc"}}
        {{/resolveMasterData}}</attribute_type_id_description> 
            {{#if ../mv}}
            <attribute_type_id_description_mv>{{#resolveMasterData ../../md for=../../mv from="enumerations" at0="common"   at2="AttributeType" match="code" with="DISASSIST" fetch="desc"}}
        {{/resolveMasterData}}</attribute_type_id_description_mv>
            {{/if}} 
            <attribute_id>{{../service.accessibility.selected}}</attribute_id>
            <attribute_id_description>{{#resolveMasterData ../md for="default" from="enumerations" at0="listing.service"   at2="Accessibility" match="code" with=../service.accessibility.selected fetch="desc"}}
        {{/resolveMasterData}}</attribute_id_description>
            {{#if ../mv}}
            <attribute_id_description_mv>{{resolveMasterData ../../md for=../../mv from="enumerations" at0="listing.service"  at2="Accessibility" match="code" with=../../service.accessibility.selected fetch="desc"}}</attribute_id_description_mv>
            {{/if}}  
        </row>
        {{/ifValue}}
        {{#if service.fitnessRequired}}
         <row>
            <attribute_type_id>{{resolveMasterData md for="default" from="modelSpecs" at0="service.properties" at2="fitnessRequired._def"  fetch="attributeTypeId"}}</attribute_type_id>
            <attribute_type_id_description>{{#resolveMasterData md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="fitnessRequired._def" fetch="attributeTypeId"}}
            {{/resolveMasterData}}</attribute_type_id_description>
            {{#if mv}}
                <attribute_type_id_description_mv>{{#resolveMasterData ../md for=../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="fitnessRequired._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description_mv>
            {{/if}}
            <attribute_id>{{service.fitnessRequired}}</attribute_id>
            <attribute_id_description>{{resolveMasterData md for="default" from="enumerations" at0="listing.service" at1=listing.category at2="FitnessRequired" match="code" with=service.fitnessRequired fetch="desc"}}</attribute_id_description>
            {{#if mv}}
             <attribute_id_description_mv>{{resolveMasterData ../md for=../mv from="enumerations" at0="listing.service" at1=../listing.category at2="FitnessRequired" match="code" with=service.fitnessRequired fetch="desc"}}</attribute_id_description_mv>
            {{/if}}
         </row>
       {{/if}}
    </service_attribute>
    <service_accessibility_attribute>
            {{#if service.accessibility}}
                 <row>
                    <attribute_type_id>{{resolveMasterData md for="default" from="modelSpecs" at0="service.properties" at2="accessibility._def"  fetch="attributeTypeId"}}</attribute_type_id>
                    <attribute_type_id_description>{{#resolveMasterData md for="default" from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                    {{resolveMasterData ../md for="default" from="modelSpecs" at0="service.properties" at2="accessibility._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description>
                    {{#if mv}}
                    <attribute_type_id_description_mv>{{#resolveMasterData ../md for=../mv from="enumerations" at0="common"   at2="AttributeType" match="code" fetch="desc"}}
                    {{resolveMasterData ../../md for="default" from="modelSpecs" at0="service.properties" at2="accessibility._def" fetch="attributeTypeId"}}
                {{/resolveMasterData}}</attribute_type_id_description_mv>
                    {{/if}}
                    <attribute_sub_type_1_id>{{service.accessibility.selected}}</attribute_sub_type_1_id>
                    <attribute_sub_type_1_id_description>{{#resolveMasterData md for="default" from="enumerations" at0="listing.service"   at2="Accessibility" match="code" with=service.accessibility.selected fetch="desc"}}
                {{/resolveMasterData}}</attribute_sub_type_1_id_description>
                    {{#if service.accessibility.attributes}}
                        <attributes>
                        {{#each service.accessibility.attributes}}
                            <row>
                                <attribute_id>{{this}}</attribute_id>
                                <attribute_id_description>{{resolveAccessibilityMasterData ../../../md for="default" from="enumerations" at0="listing.service" at1="Accessibility" at2="attributes" match="code" with=this fetch="desc"}}
                                </attribute_id_description>
                            </row>
                        {{/each}}
                        </attributes>
                    {{/if}}
                    {{#if service.accessibility.attributeBlocks}}
                        <attribute_blocks>
                        {{#each service.accessibility.attributeBlocks}}
                        {{#ifValue this.selected true}}
                        <row>
                            <attribute_sub_type_2_id>{{@key}}</attribute_sub_type_2_id>
                            {{#ifValue @key "DISTASSIST"}}
                            <attribute_sub_type_2_id_description>{{#resolveMasterData ../../../../../md for="default" from="enumerations" at0="listing"   at2="Accessibility" match="code" with=@key fetch="desc"}}{{/resolveMasterData}}</attribute_sub_type_2_id_description>
                            {{else}}
                            <attribute_sub_type_2_id_description>{{resolveAccessibilityMasterData ../../../../../md for="default" from="enumerations" at0="listing.service" at1="Accessibility" at2="attributeBlocks" match="code" with=@key fetch="desc"}}
                            </attribute_sub_type_2_id_description>
                            {{/ifValue}}
                            <attributes>
                            {{#each ../attributes}}
                                <row>
                                    <attribute_id>{{this}}</attribute_id>
                                    <attribute_id_description>{{resolveAccessibilityMasterData ../../../../../md for="default" from="enumerations" at0="listing.service" at1="Accessibility" at2="attributeBlocks.attributes" match="code" with=this fetch="desc"}}</attribute_id_description>
                                </row>
                            {{/each}}
                            {{#ifValue @key "ACCESSINCLSTMNT"}}
                                <row>
                                    <attribute_id>ACCESSURL</attribute_id>
                                    <attribute_id_description>{{../../../../../service.accessibility.attributeBlocks.ACCESSINCLSTMNT.ACCESSURL}}</attribute_id_description>
                                </row>
                            {{/ifValue}}
                            </attributes>
                        </row>
                        {{/ifValue}}
                        {{/each}}
                        </attribute_blocks>
                    {{/if}}
                    {{#if ../../mv}}
                    <attribute_id_description_mv>{{resolveMasterData ../../../md for=../../../mv from="enumerations" at0="listing.service"  at2="Accessibility" match="code" with=this fetch="desc"}}</attribute_id_description_mv>
                    {{/if}}
                 </row>
            {{/if}}
        </service_accessibility_attribute>
    <service_configuration>
        <row>
            <attribute_id_service_configuration/>
            <attribute_id_service_configuration_description/>
            <attribute_id_service_configuration_description_mv/>
            <minimum_capacity>{{service.serviceCapacity.min}}</minimum_capacity>
            <maximum_capacity>{{service.serviceCapacity.max}}</maximum_capacity>
            <service_configuration_attr_relationship/>
        </row>
    </service_configuration>
     <service_multimedia>
        {{#each service.media}}
         {{#each this.alternates}}
         <row>
            <market_variant_id/>
            <multimedia_id>{{../this.id}}</multimedia_id>
            <authored_date>{{formatDateYYYYMMDD ../this.updatedOn}}</authored_date>
            <server_path>{{this.content}}</server_path>
            {{#ifValue ../this.mimetype  "image/jpeg"}}
            <attribute_id_multimedia_file>.JPG</attribute_id_multimedia_file>
            {{/ifValue}}
            <attribute_id_multimedia_content>{{convertToUppercase ../this.kind}}</attribute_id_multimedia_content>
            <attribute_id_multimedia_content_description>Image</attribute_id_multimedia_content_description>
            <attribute_id_size_orientation>{{convertToUppercase this.metadata.ratio}}</attribute_id_size_orientation>
            <width>{{this.metadata.dimen.width}}</width>
            <height>{{this.metadata.dimen.height}}</height>
            <alt_text>{{../this.metadata.altText}}</alt_text>
            <caption>{{../this.metadata.caption}}</caption>
            <photographer>{{../this.metadata.photographer}}</photographer>
            <copyright>{{../this.metadata.copyright}}</copyright>
            <sequence_number>{{../this.sequenceNumber}}</sequence_number>
         </row>
         {{/each}}
         {{#unless this.alternates}}
          <row>
            <market_variant_id/>
            <multimedia_id>{{this.id}}</multimedia_id>
            <authored_date>{{formatDateYYYYMMDD ../this.updatedOn}}</authored_date>
            <server_path>{{this.content}}</server_path>
            {{#ifValue this.mimetype "image/jpeg"}}
            <attribute_id_multimedia_file>.JPG</attribute_id_multimedia_file>
            {{/ifValue}}
            <attribute_id_multimedia_content>{{convertToUppercase this.kind}}</attribute_id_multimedia_content>
            <attribute_id_multimedia_content_description>Image</attribute_id_multimedia_content_description>
            <attribute_id_size_orientation>{{convertToUppercase this.metadata.ratio}}</attribute_id_size_orientation>
            <width>{{this.metadata.dimen.width}}</width>
            <height>{{this.metadata.dimen.height}}</height>
            <alt_text>{{this.metadata.altText}}</alt_text>
            <caption>{{../this.metadata.caption}}</caption>
            <photographer>{{this.metadata.photographer}}</photographer>
            <copyright>{{../this.metadata.copyright}}</copyright>
            <sequence_number>{{this.sequenceNumber}}</sequence_number>
         </row>
         {{/unless}}
        {{/each}}
         {{#each service.videos}}
         <row>
            <market_variant_id/>
            <multimedia_id>{{../service.id}}{{this.sequenceNumber}}</multimedia_id>
            <authored_date>{{formatDateYYYYMMDD ../this.updatedOn}}</authored_date>
            <server_path>{{this.content}}</server_path>
            <video_id/>
            <video_thumbnail_path>{{this.thumbnail}}</video_thumbnail_path>
            <attribute_id_multimedia_file/>
            <attribute_id_multimedia_content>VIDEO</attribute_id_multimedia_content>
            <attribute_id_multimedia_content_description>Video</attribute_id_multimedia_content_description>
            <attribute_id_size_orientation/>
            <alt_text/>
            <multimedia_description/>
            <sequence_number>{{this.sequenceNumber}}</sequence_number>
         </row>
         {{/each}}
      </service_multimedia>  
    <service_indicative_prices>
        {{#ifValue service.rates.0.ratesType 'ADULT'}}
        <row>
            <range_1_from_rate>{{../service.rates.0.priceFrom}}</range_1_from_rate>
            <range_1_to_rate>{{../service.rates.0.priceTo}}</range_1_to_rate>
            <range_1_comment_text>{{breaklinesXML ../service.rates.0.rateComment}}</range_1_comment_text>
            {{#ifValue ../service.category "TOUR"}}
            <free_entry_flag>{{freeEntryTourService ../../service ../../service.rates.0.ratesType}}</free_entry_flag>
            {{/ifValue}}
        </row>
        {{else}}
        <row>
            <range_1_from_rate></range_1_from_rate>
            <range_1_to_rate></range_1_to_rate>
            <range_1_comment_text></range_1_comment_text>
            {{#ifValue ../service.category "TOUR"}}
            <free_entry_flag></free_entry_flag>
            {{/ifValue}}
        </row>
        {{/ifValue}}
    </service_indicative_prices>
    <service_indicative_child_rate>
      {{#ifValue service.rates.0.ratesType 'CHILD'}}
      <row>
            <range_1_from_rate>{{../service.rates.0.priceFrom}}</range_1_from_rate>
            <range_1_to_rate>{{../service.rates.0.priceTo}}</range_1_to_rate>
            <range_1_comment_text>{{breaklinesXML ../service.rates.0.rateComment}}</range_1_comment_text>
            {{#ifValue ../service.category "TOUR"}}
            <free_entry_flag>{{freeEntryTourService ../../service ../../service.rates.0.ratesType}}</free_entry_flag>
            {{/ifValue}}
        </row>
      {{else}}
      <row>
          <range_1_from_rate>{{../service.rates.1.priceFrom}}</range_1_from_rate>
          <range_1_to_rate>{{../service.rates.1.priceTo}}</range_1_to_rate>
          <range_1_comment_text>{{breaklinesXML ../service.rates.1.rateComment}}</range_1_comment_text>
          {{#ifValue ../service.category "TOUR"}}
          <free_entry_flag>{{freeEntryTourService ../../service ../../service.rates.1.ratesType}}</free_entry_flag>
          {{/ifValue}}
      </row>
      {{/ifValue}}
    </service_indicative_child_rate>
    <service_rate_inclusions>{{service.ratesInclusion}}</service_rate_inclusions>
    <service_external_system/>
    <service_waypoint>
      {{#each service.waypoints}}
        <row>
            <service_id>{{../service.id}}</service_id>
            <waypoint_id/>
            <waypoint_name>{{this.name}}</waypoint_name>
            <waypoint_description>{{breaklinesXML this.desc}}</waypoint_description>
            <geocode_gda_latitude>{{this.address.geoCodeLocation.latitude}}</geocode_gda_latitude>
            <geocode_gda_longitude>{{this.address.geoCodeLocation.longitude}}</geocode_gda_longitude>
            <service_waypoint_related_product/>
            <sequence_number>{{this.sequenceNumber}}</sequence_number>
        </row>
     {{/each}}
    </service_waypoint>
    <service_route>
      {{#each service.waypoints}}
        <row>
            <attribute_id_address>PHYSICAL</attribute_id_address>
            <attribute_id_address_description>Physical</attribute_id_address_description>
            <address_line_1>{{this.address.addrLine1}}</address_line_1>
	        <address_line_2>{{this.address.addrLine1}}</address_line_2>
            <suburb_name>{{this.address.city_suburb}}</suburb_name>
            <city_name/>
            <area_name/>
            <state_name>{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="State" match="code" with=this.address.state fetch="desc"}}</state_name>
            {{#if this.address.country}}
            <country_name>{{../this.address.country}}</country_name>
            {{else}}
            <country_name>Australia</country_name>
            {{/if}}
            <address_postal_code>{{this.address.postcode}}</address_postal_code>
            <geocode_gda_latitude>{{this.address.geoCodeLocation.latitude}}</geocode_gda_latitude>
            <geocode_gda_longitude>{{this.address.geoCodeLocation.longitude}}</geocode_gda_longitude>
        </row>
     {{/each}}
    </service_route>
    <service_start_location>
    {{#if service.startLocation}}
        <row>
            <sequence_number/>
            <start_location_text/>
            <attribute_id_address>PHYSICAL</attribute_id_address>
            <attribute_id_address_description>Physical</attribute_id_address_description>
            <address_line_1>{{../service.startLocation.addrLine1}}</address_line_1>
	          <address_line_2>{{../service.startLocation.addrLine2}}</address_line_2>
            <suburb_name>{{../service.startLocation.city_suburb}}</suburb_name>
            <city_name/>
            <area_name/>
            <state_name>{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="State" match="code" with=../service.startLocation.state fetch="desc"}}</state_name>
            {{#if ../service.startLocation.country}}
            <country_name>{{../service.startLocation.country}}</country_name>
            {{else}}
            <country_name>Australia</country_name>
            {{/if}}
            <address_postal_code>{{../service.startLocation.postcode}}</address_postal_code>
            <override_domestic_region_flag/>
            <geocode_gda_latitude>{{../service.startLocation.geoCodeLocation.latitude}}</geocode_gda_latitude>
            <geocode_gda_longitude>{{../service.startLocation.geoCodeLocation.longitude}}</geocode_gda_longitude>
            <service_start_loc_street_directory_relationship/>
            <service_start_loc_domestic_region_relationship>
            {{#findUniq ../service.serviceStartLocations property='region'}}
            {{#each this}}
                <row>
                <domestic_region_name>{{this.region}}</domestic_region_name>
                <domestic_region_code>{{this.domesticRegionCode}}</domestic_region_code>
                <attribute_id_dom_region_type>{{this.domesticRegionType}}</attribute_id_dom_region_type>
                </row>
            {{/each}} 
            {{/findUniq}}   
            </service_start_loc_domestic_region_relationship>
            <service_start_loc_area_relationship>
            {{#findUniq ../service.serviceStartLocations property='area'}}
            {{#each this}}
                <row>
                    <area_name>{{this.area}}</area_name>
                    <area_type>{{this.areaType}}</area_type>
                </row>
            {{/each}} 
            {{/findUniq}}   
            </service_start_loc_area_relationship>
        </row>
      {{/if}}
     </service_start_location>
     <service_end_location>
      {{#if service.endLocation}}
        <row>
            <sequence_number/>
            <end_location_text/>
            <attribute_id_address>PHYSICAL</attribute_id_address>
            <attribute_id_address_description>Physical</attribute_id_address_description>
            <address_line_1>{{../service.endLocation.addrLine1}}</address_line_1>
            <address_line_2>{{../service.endLocation.addrLine2}}</address_line_2>
            <suburb_name>{{../service.endLocation.city_suburb}}</suburb_name>
            <city_name/>
            <area_name/>
            <state_name>{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="State" match="code" with=../service.endLocation.state fetch="desc"}}</state_name>
            {{#if ../service.endLocation.country}}
            <country_name>{{../service.endLocation.country}}</country_name>
            {{else}}
            <country_name>Australia</country_name>
            {{/if}}
            <address_postal_code>{{../service.endLocation.postcode}}</address_postal_code>
            <override_domestic_region_flag/>
            <geocode_gda_latitude>{{../service.endLocation.geoCodeLocation.latitude}}</geocode_gda_latitude>
            <geocode_gda_longitude>{{../service.endLocation.geoCodeLocation.longitude}}</geocode_gda_longitude>
            <service_end_loc_street_directory_relationship/>
            <service_end_loc_domestic_region_relationship>
            {{#findUniq ../service.serviceEndLocations property='region'}}
            {{#each this}}
                <row>
                <domestic_region_name>{{this.region}}</domestic_region_name>
                <domestic_region_code>{{this.domesticRegionCode}}</domestic_region_code>
                <attribute_id_dom_region_type>{{this.domesticRegionType}}</attribute_id_dom_region_type>
                </row>
            {{/each}} 
            {{/findUniq}}    
            </service_end_loc_domestic_region_relationship>
            <service_end_loc_area_relationship>
            {{#findUniq ../service.serviceEndLocations property='area'}}
            {{#each this}}
                <row>
                    <area_name>{{this.area}}</area_name>
                    <area_type>{{this.areaType}}</area_type>
                </row>
            {{/each}} 
            {{/findUniq}}   
            </service_end_loc_area_relationship>
        </row>
      {{/if}}
     </service_end_location>
     <service_comment>
        {{#each  service.translations}}
        {{#if this.description}}
        <row>
            <market_variant_id>{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="Language" match="code" with=this.language fetch="desc"}}</market_variant_id>
            <sequence_number/>
            <attribute_id_language_written>{{this.language}}</attribute_id_language_written>
            <attribute_id_language_written_description>{{resolveMasterData ../md for="default" from="enumerations" at0="listing" at2="Language" match="code" with=this.language fetch="desc"}}</attribute_id_language_written_description>
            <comment_text>{{this.description}}</comment_text>
        </row>
        {{/if}}
        {{/each}}
    </service_comment>
    <service_departure_date/>
    <service_rate_basis_comment/>
    <service_related_service/>
    <service_related_product/>
    <service_make_model_style/>
    <service_minimum_period/>
    <service_season_tariff_comment/>
    <service_tariff_adult/>
    <service_tariff_child/>
    <service_tariff_concession/>
    <service_vertical_classification>
      {{#ifValue listing.category "TOUR"}}
        {{#each ../service.classifications}}
            <row>
                <product_type_id>{{this}}</product_type_id>
                <product_type_description>{{resolveMasterData ../../md for="default" from="enumerations" at0="listing.service"  at1=../../listing.category  at2="Classification" match="code" with=this fetch="desc"}}</product_type_description>
              {{#if ../../mv}}
                  <product_type_description_mv>{{resolveMasterData ../../../md for=../../../mv from="enumerations" at0="listing.service"  at1=../../../listing.category  at2="Classification" match="code" with=this fetch="desc"}}</product_type_description_mv>
              {{/if}}
                <product_sub_type_lowest/>
            </row>
        {{/each}}
        {{#each ../service.serviceLength}}
            <row>
                <product_type_id>{{this}}</product_type_id>
                <product_type_description>{{resolveMasterData ../../md for="default" from="enumerations" at0="listing.service"  at1=../../listing.category  at2="ServiceLength" match="code" with=this fetch="desc"}}</product_type_description>
              {{#if ../../mv}}
                  <product_type_description_mv>{{resolveMasterData ../../../md for=../../../mv from="enumerations" at0="listing.service"  at1=../../../listing.category  at2="ServiceLength" match="code" with=this fetch="desc"}}</product_type_description_mv>
              {{/if}}
                <product_sub_type_lowest/>
            </row>
        {{/each}}
        {{else}}
          {{#each ../listing.serviceTypes}}
              <row>
                  <product_type_id>{{this}}</product_type_id>
                  <product_type_description>{{resolveMasterData ../../md for="default" from="enumerations" at0="listing"  at1=../../listing.category  at2="Classification" match="code" with=this fetch="desc"}}</product_type_description>
                {{#if ../../mv}}
                    <product_type_description_mv>{{resolveMasterData ../../../md for=../../../mv from="enumerations" at0="listing"  at1=../../../listing.category  at2="Classification" match="code" with=this fetch="desc"}}</product_type_description_mv>
                {{/if}}
                  <product_sub_type_lowest/>
              </row>
          {{/each}}
      {{/ifValue}}
    </service_vertical_classification>
  <service_schedule>
    {{#each service.serviceSchedule}}
    <row>
      <type>{{type}}</type>
      <date_from>{{formatDateYMD dateFrom}}</date_from>
      <date_to>{{formatDateYMD dateTo}}</date_to>
        <departure_time>
        {{#each this.departureTime}}
        <row>
          <day_of_week>{{dayOfWeek}}</day_of_week>
          <depart_time>{{departTime}}</depart_time>
          <return_day>{{returnDay}}</return_day>
          <return_time>{{returnTime}}</return_time>
        </row>
        {{/each}}
        </departure_time>
        <tour_schedule_details>{{breaklinesXML tourScheduleDetails}}</tour_schedule_details>
    </row>
    {{/each}}
  </service_schedule>
  </service_distribution>
</atdw_data_results>
